:root {
    --accent-color: orange;
}

body {
	background-color: #6d5b6a;
	color: #d5d8d1;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-family:'Trebuchet MS', sans-serif;
    color: var(--accent-color);
    font-size: 36px;

}

h2 {
    font-size: 24px;
}

a, a:visited, a:active {
    color:  var(--accent-color);
}

a:hover {
    text-decoration: none;
}

article img {
    width: 60%;
    height: fit-content;
    padding-top: 12px;
}

.date {
    font-size: 12px;
    padding: 12px;
}